body {
    font-family: 'Poppins', sans-serif;
}

.toast {
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.toast.show {
    animation: toast-show 1s forwards;
}

.toast.hide {
    animation: toast-hide 7s forwards;
}

@keyframes toast-show {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toast-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}